{
	"semi": true,
	"singleQuote": true,
	"tabWidth": 2,
	"printWidth": 200,
	"useTabs": true,

"htmlWhitespaceSensitivity": "strict",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "singleQuote": false
      }
    }
  ]
}